body {
  height: 50em;
  overflow: hidden;
  /*display: flex;*/
  /*justify-content: center;*/
  /*-ms-align-items: ;
  align-items: ;-items: center;*/
  background-image: url('../imgs/backg.jpg');
  background-position: center;
}

main {
  width: 300px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 10% auto;
}

ol li {
  color: black;
}

button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url('../imgs/roman.gif');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.data-reciver {
  display: flex;
  flex-direction: column;
}

.data-reciver span {
  margin: 10% 0 5% 10%;
}

/*.hide {
  display: none;
}*/
